@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


@theme inline {
    --color-body: #ecf0f0;
    --color-primary: #1e8a8a;
    --color-dark: #0c1e21;
}

body {
    /* background: var(--color-body); */
    font-family: "Poppins", sans-serif;
}


.swiper-container-wrapper {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    position: relative;
    perspective: 1300px;
    transform: translateX(400px);
}

.food-swiper .swiper-slide-active {
    opacity: 1;
    transform: scale(1) rotateY(0deg) rotateZ(0deg) !important;
    z-index: 10;
}

.food-swiper .swiper-slide-prev {
    opacity: 1;
    transform: scale(0.75) rotateY(-15deg) rotateZ(-8deg) translateX(-20px);
}

.food-swiper .swiper-slide-next {
    opacity: 1;
    transform: scale(0.75) rotateY(15deg) rotateZ(8deg) translateX(-20px);
}

.food-plate-container {
    width: 320px;
    height: 320px;
    position: relative;
    transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform-style: preserve-3d;
}

.food-plate-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform-style: preserve-3d;
}

.swiper-wrapper {
    padding-top: 80px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

:is(.swiper-button-next, .swiper-button-prev) .swiper-navigation-icon {
    width: 20px;
    height: 20px;
    color: #000;
}

.swiper-button-next {
    bottom: 44% !important;
    rotate: 90deg;
    /* backward button */
}

.swiper-button-prev {
    top: 44% !important;
    rotate: 90deg;
    /* forward button */
}

/* Responsive */
@media (max-width: 1024px) {

    .food-plate-container {
        width: 250px;
        height: 250px;
    }

    .swiper-slide-active .food-plate-container {
        width: 300px;
        height: 300px;
    }

    .swiper-container-wrapper {
        transform: translateX(100px);
    }

}

@media (max-width: 768px) {
    .swiper-container-wrapper {
        height: 450px;
        perspective: 800px;
    }

    .food-swiper {
        width: 100%;
        padding: 30px 0;
    }

    .food-plate-container {
        width: 260px;
        height: 260px;
    }

    .swiper-slide-active .food-plate-container {
        width: 320px;
        height: 320px;
    }

    .garnish {
        font-size: 30px;
        bottom: 20px;
        right: 20px;
    }
}

/* Smooth curve transition enhancement */
.food-swiper .swiper-slide {
    will-change: transform, opacity;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}